  <style>
      h1 {
        text-align: center;
        font-style: italic;
        color: rgb(204,114,61);
    }

    .container {
      text-align: center;
      background-image: url(fc2_.jpg);
      background-size: 100% 100%;
   }
  </style>



  <div class="container">
    <br>
    <h1><em>오늘의 포춘쿠키 문구는</em></h1>
    <br>
    <p><h2>"<%="#{@resultresult}"%>"</h2>입니다.</p>
    <br>
    <p><font size=1>믿고 말고는 본인에게 달렸지요.</font></p>
  </div>